# public/.htaccess
RewriteEngine On
RewriteBase /

# presmeruj všetky požiadavky okrem existujúcich súborov a priečinkov na index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
